/*color files:
*   greens.css
*   swampy.css
*   beach.css
*   orage.css
*   neon-sunset.css
*   druid.css
*   creme-brulee.css
*   retro-apple.css
*/
@import "themes/retro-apple.css";

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: @color1;
}

@keyframes bounce-font {
    from {
        padding: 0px;
    }

    to {
        padding: 0px 5px;
    }
}

#workspaces button {
    padding: 5px;
    color: @color2;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color2;
}

#workspaces button.focused { /*i have no idea what this does*/
    color: rgba(0,0,255,1);
    background: rgba(255,0,0,1);
    border-radius: 10px;
}

#workspaces button.urgent { /*i have no idea what this does either*/
    color: rgba(0,136,0,1);
    background: rgba(109,0,0,1);
    border-radius: 10px;
}

#workspaces button:hover {
    background: @color2;
    color: @color10;
    border-radius: 10px;
}

#window,
#battery,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: alpha(#0e0117, 0.6);
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
    /* border: 2px dashed #e5b694; */
}

#network{
    color: @color7;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#backlight {
    color: @color5;
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: alpha(#0e0117, 0.6);
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    color: @color4;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    color: @color3;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock.day {
    color: rgba(78,56,27,1);
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px
}

#clock.icon1 {
    color: rgba(70,45,22,1);
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#clock.date {
    color: @color6;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
}

#clock.icon2 {
    color: @color5;
}

#clock.time {
    color: @color4;
    border-radius: 0px 10px 10px 0px;
}

#clock.ampm {
    color: rgba(62,35,18,1);
    border-radius: 0px 10px 10px 00px;
}

#pulseaudio {
    color: @color6;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio.microphone {
    color: rgba(78,56,27,1);
    border-radius: 0px 10px 10px 0px;
}

#battery {
    color: @color2;
    border-radius: 10px 0px 0px 10px;
}

